<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545131117284-r5e8m8tp1srs8cs8pgq8asvqosv7d3cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545131117284-r5e8m8tp1srs8cs8pgq8asvqosv7d3cf</string>
	<key>API_KEY</key>
	<string>AIzaSyDrWybZ_YFaT-j9bkx4ebZkvzfznWDdR70</string>
	<key>GCM_SENDER_ID</key>
	<string>545131117284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shakespearApp</string>
	<key>PROJECT_ID</key>
	<string>provider-3166e</string>
	<key>STORAGE_BUCKET</key>
	<string>provider-3166e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545131117284:ios:008339f3efd6a7b9d9caf1</string>
</dict>
</plist>